.App {
  text-align: center;
}

.App-header {
  background-color: #1d4597;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

textarea {
  margin: 10px;
  padding: 10px;
  width: 300px;
  height: 150px;
}

button {
  cursor: pointer;
  padding: 10px 20px;
  font-size: 16px;
}


.history-panel {
  max-height: 400px;
  overflow-y: auto;
  margin-top: 20px;
}

.history-item {
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.history-item:hover, .history-item.bg-info {
  background-color: #17a2b8; /* Цвет из Bootstrap класса bg-info */
  color: rgb(83, 221, 83); /* Цвет текста для лучшей видимости на тёмном фоне */
}

