.App {
  text-align: center;
}

.App-header {
  background-color: #1d4597;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

textarea {
  margin: 10px;
  padding: 10px;
  width: 300px;
  height: 150px;
}

button {
  cursor: pointer;
  padding: 10px 20px;
  font-size: 16px;
}


.history-panel {
  max-height: 400px;
  overflow-y: auto;
  margin-top: 20px;
}

.history-item {
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.history-item:hover, .history-item.bg-info {
  background-color: #17a2b8; /* Цвет из Bootstrap класса bg-info */
  color: rgb(255, 255, 255); /* Цвет текста для лучшей видимости на тёмном фоне */
}
.rdf-list-container {
  margin-top: 20px;
}
.rdf-part-title {
  margin-top: 20px;
  font-weight: bold;
}
.rdf-triple {
  margin-left: 20px;
  list-style-type: none;
}
.text-display {
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  padding: 15px;
  margin-top: 10px;
}

.text-display p {
  margin: 5px 0;  /* Уменьшает отступы между параграфами */
  color: #333;    /* Темный цвет текста для лучшего чтения */
}

.loading-text {
  color: #007bff; /* Синий цвет текста для загрузки */
  font-style: italic;
}